/*googel font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

/* layout*/
:root{
  --primary:#0501fb;
  --error:#ff0256;
}
body{
  
  background-color: #cb1b1b;
  margin: 0;
  font-family: "Poppins";
}
header{
  background: linear-gradient(to bottom right, #372b2f, #484747);
  
  
}
header .container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
}header a{
  color: #ffffff;
  text-decoration: none;

}
header h1{
  color: rgb(255, 243, 240);
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
/* Home Page */
.home{
  display: grid;
  grid-template-columns: 3ft 1fr;
  gap:1px;
}
.course-details{
  
  background: #ffffff;

    
  border-radius: 6px;
  margin: 25px 0 0 0 ;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  
}
.course-details h4{
  margin: 0 0 10px 0;
  font-size: 1.4em;
  color: var(--primary);
}
.course-details p{
  margin:0;
  font-size: 1em;
  color: #555;
}
.course-details span{
  position: relative;
  top: 50px;
  right: 20px;
  cursor: pointer;
  background: #1aef07;
  padding: 6px;
  border-color: #000000;
  color: #000000;

}
.course-details button{
  position: relative;
  top: 17px;
  left: 80px;
  cursor: pointer;
  background: #1aef07;
  padding: 6px;
  color: #000000;

}
/* new course form */
.course-details {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-details h4 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

.course-details p {
  margin-bottom: 5px;
}

.course-details strong {
  font-weight: bold;
}

.course-details button {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 30pxpx;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course-details button:hover {
  background-color: #333;
  color: #fff;
}

.course-details button:first-child {
  margin-right: 10px;
}

.course-details button.material-symbols-outlined {
  background-color: transparent;
  border-color: #333;
  color: #333;
  padding: 5px;
}

.course-details button.material-symbols-outlined:hover {
  background-color: #333;
  color: #fff;
}

textarea{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/*Meterial*/
.meterial-details {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 40px;
  width: 100%;
  margin: 10px 0px 0px 300px;
  margin-bottom: 10px;
}

.meterial-details h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.meterial-details p {
  font-size: 14px;
  margin-bottom: 5px;
}

.meterial-details button {
  background-color: #fff;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 25px;
  margin-top: 10px;
}

.meterial-details button:hover {
  color: #1710c6;
}

/*Notification*/
.notification-details {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.notification-details h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.notification-details p {
  font-size: 16px;
  margin-bottom: 5px;
}

.notification-details button {
  background-color: #fff;
  color: #007bff;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notification-details button:hover {
  background-color: #007bff;
  color: #fff;
}
.checkout-button{
  background-color: #0501fb;
  color: #f5f5f5;
  padding: 20px;
  margin: 0 0 0 1000px;
  border-radius: 10px;
}